* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1366px;
    height: auto;
    margin: 0 auto;
}

.nav-up {
    width: 1366px;
    background-color: white;
    height: 50px;
    display: flex;
}

.nav-box {
    border-right: 2px solid orangered;
    width: 456px;
    display: flex;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
}

.nav-box>p {
    margin:0px 0 0 10px;
    letter-spacing: 5px;
}
.nav-box>p>span {
    font-size: 20px;
    
}
.nav-box:last-child {
    border: none;
}


.fa-solid {
    font-size: 30px;
    color: orangered;
    margin:15px 15px;
}


.nav {
    width: 1366px;
    height: 70px;
    display: flex;
    background-color: #0a142d;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.logo {
    width: 200px;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 10px;
}

.nav>ul {
    margin: 25px 40px 0 255px;
}

.nav>ul>li {
    list-style: none;
    display: inline;
    
}
.nav>ul>li>a {
    text-decoration: none;
    margin: 0 0 0 39px;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: all;
    transition-duration: .3s;
}

.nav>ul>li>a:hover {
    color: orangered;
}

.nav>button {
    width: 200px;
    text-transform: uppercase;
    background-color: orangered;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-left: 4px;
}


.banner {
    width: 1366px;
    height: 300px;
    position: relative;
}

.banner>img {
    position: absolute; 
}

.banner>.text-box {
    width: 1366px;
    height: 300px;
    background-color: rgba(8, 39, 62, 0.7);
    position: absolute;
} 

.text-box>h1 {
    font-size: 60px;
    color: white;
    margin: 120px 0 0 540px;
    text-transform: uppercase;
}

.main-head>h2 {
    font-size: 60px;
    color: black;
    margin: 0 0 0 0;
    text-transform: capitalize;
    text-align: center;
}
.main-head>h2>spain {
    color: orangered;
}

.construction {
    width: 1366px;
    height: 500px;
    
}

.construction>h2 {
    width: 255px;
    font-size: 45px;
    text-transform: capitalize;
    color: white;
    margin: 10px 0px 0px 555px;
    background-color: orangered;
    text-align: center;
}
.blocks-c {
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 40px 0px 0px 40px;
    float:left;
    position: relative;
    
}

.bolck-c>img {
    position: absolute;
}



.text-box-c {
    position:absolute;
    width:380px;
    height: 100px;
    top: 330px;
    left: 10px;
    background-color: white;
    box-shadow: 0px 3px 5px 0px #000000;
    transition: all;
    transition-duration: .3s;
}

.text-box-c:hover {
    transform: scale(1.03);
    
}

.text-box-c>h1 {
    margin: 2px 0 0 10px;
}

.text-box-c>p {
    display: inline;
    margin: 0 0 0 10px;
    letter-spacing: 3px;
}
.fa-solid {
    color: orangered;
    font-size: 25px;
    margin: 5px 0 0 10px;
}
.renovation {
    width: 1366px;
    height: 500px;
    
}

.renovation>h2 {
    width: 225px;
    font-size: 45px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    background-color: orangered;
    margin: 40px 0px 0px 570px;
}

.blocks-r {
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 20px 0px 50px 40px;
    float:left;
    position:relative
}

.text-box-r {
    position:absolute;
    width:380px;
    height: 100px;
    top: 330px;
    left: 10px;
    background-color: white;
    box-shadow: 0px 3px 5px 0px #000000;
    transition: all;
    transition-duration: .3s;
}

.text-box-r:hover {
    transform: scale(1.03);
    
}

.text-box-r>h1 {
    margin: 2px 0 0 10px;
}

.text-box-r>p {
    display: inline;
    margin: 0 0 0 10px;
    letter-spacing: 3px;
}

.footer {
    width: 1366px;
    height: 530px;
    background-color: #0a142d;
    position: relative;
    margin-top: 20px;
}

.footertext {
    color: #9e9e9e;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    position: absolute;
    top: 200px;
    left: 30px;
}

.footlist {
    color: #9e9e9e;
    font-size: 18px;
    font-weight: lighter;
    font-family: Arial;
    position: absolute;
    top: 300px;
    left: 50px;
}

.locate2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 313px;
    left: 30px;
}

.phlogo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 355px;
    left: 30px;
}

.maillogo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 397px;
    left: 30px;
}

.footlogo {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.Footerlist2 {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: lighter;
    font-family: Arial;
    position: absolute;
    top: 80px;
    left: 800px;
}

.ouk {
    color: white;
    font-size: 25px;
    font-family: Arial;
    position: absolute;
    top: 20px;
    left: 820px;
}

.popular {
    color: white;
    font-size: 25px;
    font-family: Arial;
    position: absolute;
    top: 20px;
    left: 1100px;
}

.Footerlist3 {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: lighter;
    font-family: Arial;
    position: absolute;
    top: 80px;
    left: 1100px;
}

.footermail {
    width: 450px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    position: absolute;
    top: 420px;
    left: 800px;
}

.footsign {
    width: 100px;
    height: 50px;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 15px;
    position: absolute;
    top: 420px;
    left: 1200px;

}

.footsign:hover {
    color: black;
    font-weight: bold;
    transition: all;
    transition: 0.1s;
    font-size: 20px;
    box-shadow: 20 10 20 10 black;
}

.news {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial;
    position: absolute;
    top: 350px;
    left: 800px;
}

.insta {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 450px;
    left: 60px;
}

.facebook {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 450px;
    left: 110px;
}

.linkdin {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 450px;
    left: 160px;
}

.twitter {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 450px;
    left: 210px;
}

.twitter:hover {
    width: 45px;
    height: 45px;
    transition: all;
    transition: 0.4s;
}

.facebook:hover {
    width: 45px;
    height: 45px;
    transition: all;
    transition: 0.4s;
}

.insta:hover {
    width: 45px;
    height: 45px;
    transition: all;
    transition: 0.4s;
}

.linkdin:hover {
    width: 45px;
    height: 45px;
    transition: all;
    transition: 0.4s;
}

